$dark: #35374C;
$teal: #009e81;

nav.navbar, .navbar-default{
    background-color: $dark;
    margin-bottom: 0px;
}

.navbar-default{
    background-image: none;
    border: none;
    border-radius: 0;
}

.login-button, .demo-req{
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    height: 34px;
    margin-top: 13px;
}

.login-button, .login-button:focus {
    border-color: white;
    border-width: 1px;
    border-radius: 2px;
    margin-left: 5px;
    background-color: $dark !important;
    color: white;
    padding: 11px 23px;
    width: 80px;
}

.login-button:hover {
    border-color: white;
    border-width: 1px;
    border-radius: 2px;
    background-color: #3c4454 !important;
    color: white;
}

.demo-req, .demo-req:focus{
    //background-color: #009e81;
    //color: white;
    //padding: 11px 15px;
    width: 120px;
    margin-right: 5px;
    margin-left: 36px;
    border-radius: 2px;
    border: solid 1px;
    border-color: $teal;
    color: white;
    background-color: #00b896;
}
.demo-req:hover {
    background-color: #00b896;
    color: white;
}

.nav-links > a{
    font-size: 14px;
    font-family: Roboto-Medium;
    font-weight: bold;
    margin-top: 6px;
}

.navbar-header {
    margin-top: 6px;
}

.navButtons {

}