$dark: #35374C;
$green: #009e81;
$lighterGreen: #00b896;
$inputDark: #1d1f35;

.panel1{
    background-color: $dark;
    color: white;
    padding-top: 95px;
    padding-bottom: 145px;
}

.bold-text{
    font-size: 40px;
    font-weight: bold;
}

.normal-text{
    font-size: 40px;
}

.panel1-image{
    float: right;
}

.panel1-text{
    float: left;
}

.btn.btn-default{
    background-color: $green;
    color: white;
}

.btn.btn-default:hover{
    background-color: $lighterGreen;
    color: white;
}

.form-control{
    background-color: $inputDark;
    color: rgba(255, 255, 255, 0.3);
    border-color: $inputDark;
    border-radius: 2px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
}