$lightGray: #fafafc;

.panel2{
  height: 100px;
  background-color: #fafafc;
}

.randomLogos {
  width: 140px;
  height: 80px;
  object-fit: contain;
  background-color: $lightGray;
  margin: auto;
}

.image-row {
  width: 1280px;
  margin: auto;
  padding-top: 10px;
}

